<div class="block-other-projects">
    <div class="container">
        <div class="block-other-projects__content">
            <h2 class="text">
                Другие проекты
            </h2>
            <div class="block-other-projects__body">
                <div class="block-other-projects__column">
                    <a href="#" class="block-other-projects__image">
                        <div class="btn">
                            <span>Смотреть квартиры</span>
                            <svg aria-hidden="true" width="12" height="8">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </div>
                        <img loading="lazy" src="img/image20.webp" alt="" class="block-other-projects__pic1">
                    </a>
                    <div class="block-other-projects__item">
                        <div class="text">
                            Сальвадор
                        </div>
                        <a href="#" class="btn">
                            <span>Смотреть квартиры</span>
                            <svg aria-hidden="true" width="12" height="8">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <span>Подробнее о ЖК</span>
                            <svg aria-hidden="true" width="9" height="9">
                                <use xlink:href="img/sprite.svg#plus"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="block-other-projects__column">
                    <a href="#" class="block-other-projects__image">
                        <div class="btn">
                            <span>Смотреть квартиры</span>
                            <svg aria-hidden="true" width="12" height="8">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </div>
                        <img loading="lazy" src="img/image21.webp" alt="" class="block-other-projects__pic1">
                    </a>
                    <div class="block-other-projects__item">
                        <div class="text">
                            МС - 18
                        </div>
                        <a href="#" class="btn">
                            <span>Смотреть квартиры</span>
                            <svg aria-hidden="true" width="12" height="8">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <span>Подробнее о ЖК</span>
                            <svg aria-hidden="true" width="9" height="9">
                                <use xlink:href="img/sprite.svg#plus"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="block-other-projects__column">
                    <a href="#" class="block-other-projects__image">
                        <div class="btn">
                            <span>Смотреть квартиры</span>
                            <svg aria-hidden="true" width="12" height="8">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </div>
                        <img loading="lazy" src="img/image22.webp" alt="" class="block-other-projects__pic1">
                    </a>
                    <div class="block-other-projects__item">
                        <div class="text">
                            Три симфонии
                        </div>
                        <a href="#" class="btn">
                            <span>Смотреть квартиры</span>
                            <svg aria-hidden="true" width="12" height="8">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <span>Подробнее о ЖК</span>
                            <svg aria-hidden="true" width="9" height="9">
                                <use xlink:href="img/sprite.svg#plus"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>