<div class="block-reviews">
    <div class="container">
        <div class="block-reviews__content">
            <h2 class="title2">
                Отзывы соседей
            </h2>
            <div data-tabs class="tabs">
                <nav data-tabs-titles class="tabs__navigation">
                    <button type="button" class="tabs__title _tab-active">Истории первых жителей</button>
                    <button type="button" class="tabs__title">Советы по переезду – от тех, кто уже купил
                        квартиру</button>
                </nav>
                <div data-tabs-body class="tabs__content">
                    <div class="tabs__body">
                        <div class="tabs__sliders">
                            <div class="tabs__slider swiper">
                                <div class="tabs__wrapper swiper-wrapper">
                                    <div class="tabs__slide slide-tabs swiper-slide">
                                        <div class="slide-tabs__item">
                                            <div class="slide-tabs__top">
                                                <div class="slide-tabs__image">
                                                    <img loading="lazy" src="img/photo1.webp" alt="">
                                                </div>
                                                <div class="slide-tabs__text">
                                                    <div class="slide-tabs__name">
                                                        Ганкин Игорь Валерьевич
                                                    </div>
                                                    <div class="slide-tabs__subname">
                                                        Генеральный директор частного медицинского учреждения
                                                        “Реновация”
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur. Volutpat nibh pellentesque
                                                integer molestie blandit consectetur. Mattis lectus sed eget at. A
                                                rhoncus adipiscing pharetra integer elit purus sit senectus bibendum.
                                                Facilisis tincidunt vestibulum posuere pellentesque quis porta. Nulla
                                                viverra dolor aenean semper neque risus cras.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tabs__slide slide-tabs swiper-slide">
                                        <div class="slide-tabs__item">
                                            <div class="slide-tabs__top">
                                                <div class="slide-tabs__image">
                                                    <img loading="lazy" src="img/photo2.webp" alt="">
                                                </div>
                                                <div class="slide-tabs__text">
                                                    <div class="slide-tabs__name">
                                                        Ганкин Игорь Валерьевич
                                                    </div>
                                                    <div class="slide-tabs__subname">
                                                        Генеральный директор частного медицинского учреждения
                                                        “Реновация”
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur. Tempor mollis consectetur vel in
                                                justo tempor cursus. Suspendisse rhoncus facilisis nec curabitur et
                                                egestas sit tempus. Mi non erat nec justo quis morbi euismod. Est
                                                sodales turpis euismod tellus id. Varius vestibulum facilisi mi nulla ac
                                                est ut ultrices.
                                            </p>
                                        </div>
                                    </div>
                                    <a href="files/videos/video.mp4" data-fancybox="video-gallery1"
                                        class="tabs__slide slide-tabs slide-tabs-video swiper-slide">
                                        <div class="slide-tabs__item">
                                            <div class="slide-tabs__name">
                                                Ганкин Игорь Валерьевич
                                            </div>
                                            <div class="slide-tabs__subname">
                                                Генеральный директор частного медицинского учреждения
                                                “Реновация”
                                            </div>
                                        </div>
                                        <div class="play">
                                            <svg aria-hidden="true" width="21" height="26">
                                                <use xlink:href="img/sprite.svg#play"></use>
                                            </svg>
                                        </div>
                                        <img loading="lazy" src="img/image17.webp" alt="" class="slide-tabs__pic1">
                                    </a>
                                    <div class="tabs__slide slide-tabs swiper-slide">
                                        <div class="slide-tabs__item">
                                            <div class="slide-tabs__top">
                                                <div class="slide-tabs__image">
                                                    <img loading="lazy" src="img/photo3.webp" alt="">
                                                </div>
                                                <div class="slide-tabs__text">
                                                    <div class="slide-tabs__name">
                                                        Ганкин Игорь Валерьевич
                                                    </div>
                                                    <div class="slide-tabs__subname">
                                                        Генеральный директор частного медицинского учреждения
                                                        “Реновация”
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur. Dolor vulputate euismod eu
                                                iaculis eu quam. Nec condimentum platea risus magna. Eleifend varius
                                                feugiat a orci nibh mattis nunc urna etiam. Faucibus etiam laoreet diam
                                                facilisi. Eget arcu ac rhoncus amet est leo.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__arrows">
                                <div class="tabs__arrow-prev arrow-prev blue">
                                    <svg aria-hidden="true" width="12" height="8">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </div>
                                <div class="tabs__arrow-next arrow-next blue">
                                    <svg aria-hidden="true" width="12" height="8">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs__body">
                        <div class="tabs__sliders">
                            <div class="tabs__slider swiper">
                                <div class="tabs__wrapper swiper-wrapper">
                                    <div class="tabs__slide slide-tabs swiper-slide">
                                        <div class="slide-tabs__item">
                                            <div class="slide-tabs__top">
                                                <div class="slide-tabs__image">
                                                    <img loading="lazy" src="img/photo1.webp" alt="">
                                                </div>
                                                <div class="slide-tabs__text">
                                                    <div class="slide-tabs__name">
                                                        Ганкин Игорь Валерьевич
                                                    </div>
                                                    <div class="slide-tabs__subname">
                                                        Генеральный директор частного медицинского учреждения
                                                        “Реновация”
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur. Volutpat nibh pellentesque
                                                integer molestie blandit consectetur. Mattis lectus sed eget at. A
                                                rhoncus adipiscing pharetra integer elit purus sit senectus bibendum.
                                                Facilisis tincidunt vestibulum posuere pellentesque quis porta. Nulla
                                                viverra dolor aenean semper neque risus cras.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tabs__slide slide-tabs swiper-slide">
                                        <div class="slide-tabs__item">
                                            <div class="slide-tabs__top">
                                                <div class="slide-tabs__image">
                                                    <img loading="lazy" src="img/photo2.webp" alt="">
                                                </div>
                                                <div class="slide-tabs__text">
                                                    <div class="slide-tabs__name">
                                                        Ганкин Игорь Валерьевич
                                                    </div>
                                                    <div class="slide-tabs__subname">
                                                        Генеральный директор частного медицинского учреждения
                                                        “Реновация”
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur. Tempor mollis consectetur vel in
                                                justo tempor cursus. Suspendisse rhoncus facilisis nec curabitur et
                                                egestas sit tempus. Mi non erat nec justo quis morbi euismod. Est
                                                sodales turpis euismod tellus id. Varius vestibulum facilisi mi nulla ac
                                                est ut ultrices.
                                            </p>
                                        </div>
                                    </div>
                                    <a href="files/videos/video.mp4" data-fancybox="video-gallery1"
                                        class="tabs__slide slide-tabs slide-tabs-video swiper-slide">
                                        <div class="slide-tabs__item">
                                            <div class="slide-tabs__name">
                                                Ганкин Игорь Валерьевич
                                            </div>
                                            <div class="slide-tabs__subname">
                                                Генеральный директор частного медицинского учреждения
                                                “Реновация”
                                            </div>
                                        </div>
                                        <div class="play">
                                            <svg aria-hidden="true" width="21" height="26">
                                                <use xlink:href="img/sprite.svg#play"></use>
                                            </svg>
                                        </div>
                                        <img loading="lazy" src="img/image17.webp" alt="" class="slide-tabs__pic1">
                                    </a>
                                    <div class="tabs__slide slide-tabs swiper-slide">
                                        <div class="slide-tabs__item">
                                            <div class="slide-tabs__top">
                                                <div class="slide-tabs__image">
                                                    <img loading="lazy" src="img/photo3.webp" alt="">
                                                </div>
                                                <div class="slide-tabs__text">
                                                    <div class="slide-tabs__name">
                                                        Ганкин Игорь Валерьевич
                                                    </div>
                                                    <div class="slide-tabs__subname">
                                                        Генеральный директор частного медицинского учреждения
                                                        “Реновация”
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur. Dolor vulputate euismod eu
                                                iaculis eu quam. Nec condimentum platea risus magna. Eleifend varius
                                                feugiat a orci nibh mattis nunc urna etiam. Faucibus etiam laoreet diam
                                                facilisi. Eget arcu ac rhoncus amet est leo.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__arrows">
                                <div class="tabs__arrow-prev arrow-prev blue">
                                    <svg aria-hidden="true" width="12" height="8">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </div>
                                <div class="tabs__arrow-next arrow-next blue">
                                    <svg aria-hidden="true" width="12" height="8">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>