<div class="block-sale">
    <div class="container">
        <div class="block-sale__content">
            <h2 class="text">Акции</h2>
            <div class="block-sale__body">
                <div class="block-sale__slider swiper">
                    <div class="block-sale__wrapper swiper-wrapper">
                        <div class="block-sale__slide swiper-slide">
                            <div class="block-sale__item">
                                <div class="block-sale__left">
                                    <div class="block-sale__title">
                                        <span>Скидка 15%</span>
                                        на квартиры в Сигнатур
                                    </div>
                                    <a href="#" class="btn">
                                        <span>Подробнее</span>
                                        <svg aria-hidden="true" width="9" height="10">
                                            <use xlink:href="img/sprite.svg#plus2"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/percent.svg" alt="" class="block-sale__icon">
                                    <img loading="lazy" src="img/image15.webp" alt="" class="block-sale__pic1">
                                </div>
                            </div>
                        </div>
                        <div class="block-sale__slide swiper-slide">
                            <div class="block-sale__item">
                                <div class="block-sale__left">
                                    <div class="block-sale__title">
                                        <span>Скидка 15%</span>
                                        на квартиры в Сигнатур
                                    </div>
                                    <a href="#" class="btn">
                                        <span>Подробнее</span>
                                        <svg aria-hidden="true" width="9" height="10">
                                            <use xlink:href="img/sprite.svg#plus2"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image16.webp" alt="" class="block-sale__pic1">
                                </div>
                            </div>
                        </div>
                        <div class="block-sale__slide swiper-slide">
                            <div class="block-sale__item">
                                <div class="block-sale__left">
                                    <div class="block-sale__title">
                                        <span>Скидка 15%</span>
                                        на квартиры в Сигнатур
                                    </div>
                                    <a href="#" class="btn">
                                        <span>Подробнее</span>
                                        <svg aria-hidden="true" width="9" height="10">
                                            <use xlink:href="img/sprite.svg#plus2"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/percent.svg" alt="" class="block-sale__icon">
                                    <img loading="lazy" src="img/image15.webp" alt="" class="block-sale__pic1">
                                </div>
                            </div>
                        </div>
                        <div class="block-sale__slide swiper-slide">
                            <div class="block-sale__item">
                                <div class="block-sale__left">
                                    <div class="block-sale__title">
                                        <span>Скидка 15%</span>
                                        на квартиры в Сигнатур
                                    </div>
                                    <a href="#" class="btn">
                                        <span>Подробнее</span>
                                        <svg aria-hidden="true" width="9" height="10">
                                            <use xlink:href="img/sprite.svg#plus2"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image16.webp" alt="" class="block-sale__pic1">
                                </div>
                            </div>
                        </div>
                        <div class="block-sale__slide swiper-slide">
                            <div class="block-sale__item">
                                <div class="block-sale__left">
                                    <div class="block-sale__title">
                                        <span>Скидка 15%</span>
                                        на квартиры в Сигнатур
                                    </div>
                                    <a href="#" class="btn">
                                        <span>Подробнее</span>
                                        <svg aria-hidden="true" width="9" height="10">
                                            <use xlink:href="img/sprite.svg#plus2"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/percent.svg" alt="" class="block-sale__icon">
                                    <img loading="lazy" src="img/image15.webp" alt="" class="block-sale__pic1">
                                </div>
                            </div>
                        </div>
                        <div class="block-sale__slide swiper-slide">
                            <div class="block-sale__item">
                                <div class="block-sale__left">
                                    <div class="block-sale__title">
                                        <span>Скидка 15%</span>
                                        на квартиры в Сигнатур
                                    </div>
                                    <a href="#" class="btn">
                                        <span>Подробнее</span>
                                        <svg aria-hidden="true" width="9" height="10">
                                            <use xlink:href="img/sprite.svg#plus2"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="block-sale__image">
                                    <img loading="lazy" src="img/image16.webp" alt="" class="block-sale__pic1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-sale__arrows">
                    <div class="block-sale__arrow-prev arrow-prev blue">
                        <svg aria-hidden="true" width="12" height="8">
                            <use xlink:href="img/sprite.svg#arrow1"></use>
                        </svg>
                    </div>
                    <div class="block-sale__arrow-next arrow-next blue">
                        <svg aria-hidden="true" width="12" height="8">
                            <use xlink:href="img/sprite.svg#arrow1"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>