<!DOCTYPE html>
<html lang="ru">

<head>
    <title>О нас</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        <main class="main contacts">

            {% include 'blocks/footer.njk' %}

        </main>
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>