<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Способы покупки</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-methods-purchase-intro">
                <img src="img/image32.webp" alt="" class="block-methods-purchase-intro__bg">
                <div class="container">
                    <div class="block-methods-purchase-intro__content">
                        <h1 class="title2">Способы покупки</h1>
                        <div class="block-methods-purchase__body">
                            <div class="block-methods-purchase__columns">
                                <div class="block-methods-purchase__column">
                                    <div class="block-methods-purchase__icon">
                                        <img loading="lazy" src="img/person.svg" alt="">
                                    </div>
                                    <span>Ипотечный брокер</span>
                                </div>
                                <div class="block-methods-purchase__column">
                                    <div class="block-methods-purchase__icon">
                                        <img loading="lazy" src="img/calendar.svg" alt="">
                                    </div>
                                    <span>Рассрочка 0%</span>
                                </div>
                                <div class="block-methods-purchase__column">
                                    <div class="block-methods-purchase__icon">
                                        <img loading="lazy" src="img/baby-bed.svg" alt="">
                                    </div>
                                    <span>Материнский капитал</span>
                                </div>
                                <div class="block-methods-purchase__column">
                                    <div class="block-methods-purchase__icon">
                                        <img loading="lazy" src="img/cash.svg" alt="">
                                    </div>
                                    <span>Оплата 100% по специальным условиям</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-about-broker">
                <div class="container">
                    <div class="block-about-broker__content">
                        <div class="block-about-broker__body">
                            <div class="block-about-broker__text">
                                Кто такой <span>ипотечный брокер?</span>
                            </div>
                            <div class="block-about-broker__title">
                                Ипотечный брокер помогает заемщикам подобрать выгодные ипотечные программы, собрать и
                                подать документы в банк, а также провести через весь процесс получения ипотеки или
                                рефинансирования.
                            </div>
                            <p>
                                Он также оказывает поддержку клиентам с негативной кредитной историей и помогает
                                согласовывать сложные сделки, обращаясь к небанковским посредникам при необходимости.
                            </p>
                        </div>
                        <div class="block-about-broker__image">
                            <img loading="lazy" src="img/image33.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-mortgage">
                <div class="container">
                    <div class="block-mortgage__content">
                        <img data-da=".block-mortgage__body, 992, 1" loading="lazy" src="img/image19.webp" alt="" class="block-mortgage__pic1">
                        <div class="block-mortgage__body">
                            <div class="block-mortgage__title">Ипотека от 5.5% </div>
                            <div class="block-mortgage__subtitle">
                                Оформите ипотеку
                                по сниженной ставке
                            </div>
                            <ul>
                                <li>Длительный срок<span> – до 30 лет</span></li>
                                <li>Минимальный первоначальный взнос<span> – от 20%</span></li>
                                <li>Одобрение онлайн <span>– быстрое рассмотрение заявки</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/calculator.njk' %}

            {% include 'blocks/sale.njk' %}

            {% include 'blocks/button-fixed.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>