body {
  color: var(--theme-color-text-common);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding-right: 0px !important;
  .lock & {
    overflow: hidden;
  }
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(13.600000381469727px);
      background: rgba(0, 0, 0, 0.55);
      z-index: 200;
    }
  }
  .popup-floor-open & {
    overflow: hidden;
  }
  .popup-open & {
    @media (max-width: 768px) {
      .block-genplan .container {
        &::before {
          content: "";
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 6;
          background: rgba(0, 0, 0, 0.65);
        }
      }
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 85%;
  text-align: center;
  color: var(--theme-color-accent);
  gap: 4px;
  min-height: 30px;
  width: auto;
  padding: 5px 20px;
  transition:
    background-color 0.3s,
    color 0.3s;
  svg {
    fill: var(--theme-color-accent);
    transition: fill 0.3s;
  }
  &.mini {
    padding: 5px 13px 5px 16px;
  }
  &.btn-bg {
    color: #fff;
    background-color: var(--theme-color-accent);
    transition: opacity 0.3s;
    svg {
      fill: #fff;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  @media (max-width: 768px) {
    min-height: 50px;
    font-size: 16px;
  }
  &:hover {
    background-color: var(--theme-color-accent);
    color: #fff;
    svg {
      fill: #fff;
    }
  }
}

.title2 {
  font-weight: 600;
  font-size: 68px;
  line-height: 90%;
  letter-spacing: -0.04em;
  position: relative;
  z-index: 10;
  @media (max-width: 768px) {
    font-size: 56px;
  }
}

.title4 {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 18px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  span {
    font-weight: 500;
  }
}

.text {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 18px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  span {
    font-weight: 500;
  }
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66px;
  height: 66px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 15;
  @media (max-width: 768px) {
    width: 40px;
    height: 40px;
  }
  svg {
    fill: #d9d9d9;
    transition: fill 0.3s;
    margin: 0px -7px 0px 0px;
    @media (max-width: 768px) {
      width: 12px;
      height: 15px;
      margin: 0px -5px 0px 0px;
    }
  }
  &:hover {
    svg {
      fill: var(--theme-color-accent);
    }
  }
}

.back-to-top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  padding: 14px 9px;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition:
    background-color 0.3s,
    opacity 0.3s;
  @media (max-width: 768px) {
    right: 15px;
    bottom: 15px;
  }
  svg {
    transform: rotate(-90deg);
    fill: var(--theme-color-accent);
    transition: fill 0.3s;
  }
  &:hover {
    background-color: var(--theme-color-accent);
    svg {
      fill: #fff;
    }
  }
  &._active {
    opacity: 1;
    pointer-events: auto;
  }
}

.heading-complex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  margin: 0px 0px 23px 0px;
  @media (max-width: 768px) {
    margin: 0px 0px 30px 0px;
  }
  .title2 {
    flex: 1 1 auto;
  }

  // .heading-complex__icon

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    flex: 0 0 50px;
    height: 50px;
    width: 50px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      backdrop-filter: blur(12.445961952209473px);
      background-color: rgba(0, 0, 0, 0.65);
      transition: background-color 0.3s;
    }
    &::after {
      content: "";
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    svg {
      position: relative;
      z-index: 5;
      fill: var(--theme-color-accent);
    }
  }

  // .heading-complex__link

  &__link {
    gap: 12px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    font-weight: 500;
    font-size: 28px;
    line-height: 78%;
    letter-spacing: -0.03em;
    color: var(--theme-color-accent);
    &:hover {
      .heading-complex__icon {
        &::before {
          content: "";
          background-color: var(--theme-color-accent);
        }
      }
    }
  }
}

.filter-apartments {
  position: relative;
  z-index: 10;
  border-radius: 30px;
  gap: 22px;
  padding: 20px 24px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    backdrop-filter: blur(13.600000381469727px);
    background: rgba(0, 0, 0, 0.5);
  }
  .btn {
    padding: 5px 13px 5px 16px;
    position: relative;
    z-index: 10;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    gap: 30px;
    padding: 24px 15px 15px 15px;
  }
  // .filter-apartments__body

  &__body {
    position: relative;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    gap: 28px 25px;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: start;
      gap: 15px;
    }
  }

  // .filter-apartments__column

  &__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &.column-rooms {
      flex: 1 1 100%;
      @media (max-width: 768px) {
        width: 296px;
      }
      .options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
        @media (max-width: 768px) {
          display: flex;
        }
      }
      .options__item {
        @media (max-width: 768px) {
          flex: 0 0 90px;
        }
        @media (max-width: 370px) {
          flex: 0 0 75px;
        }
      }
    }
    &.column-date {
      flex: 0 1 82px;
      gap: 6px;
      @media (max-width: 768px) {
        flex: 0 1 auto;
      }
      .options {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        @media (max-width: 768px) {
          display: flex;
          gap: 12px;
        }
      }
      .filter-apartments__item {
        border-radius: 18px;
        padding: 12px;
      }
    }
    &.column-sorted {
      @media (max-width: 400px) {
        width: 100%;
      }
      .filter-apartments__item {
        @media (max-width: 768px) {
          border-radius: 27px;
        }
        @media (max-width: 400px) {
          width: 100%;
          padding: 8px 9px;
        }
      }
      .options {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        @media (max-width: 400px) {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }
      }
      .options__label {
        @media (max-width: 400px) {
          padding: 14px 5px;
          font-size: 18px;
        }
      }
      .options__item {
        flex: 0 0 auto;
        width: auto;
      }
    }
    &.column-range {
      width: 100%;
      flex: 0 1 214px;
      gap: 6px;
      @media (max-width: 768px) {
        flex: 0 1 auto;
      }
      .filter-apartments__item {
        border-radius: 18px;
        padding: 12px 16px 22px 12px;
      }
    }
    &.range4 {
      .filter-apartments__buttons {
        @media (max-width: 768px) {
          order: 3;
          margin: 20px 0px 0px 0px;
        }
      }
    }
  }

  // .filter-apartments__title

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: rgba(255, 255, 255, 0.65);
    @media (max-width: 768px) {
      br {
        display: none;
      }
    }
  }

  // .filter-apartments__item

  &__item {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 45px;
    padding: 10px;
  }

  // .filter-apartments__rating

  &__rating {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  // .filter-apartments__inputs

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  // .filter-apartments__input

  &__input {
    display: flex;
    align-items: center;
    border-radius: 14px;
    padding: 8px 10px;
    background: rgba(217, 217, 217, 0.23);
    flex: 0 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 78%;
    letter-spacing: -0.03em;
    gap: 5px;
  }

  // .filter-apartments__price

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    input {
      width: 100%;
      font-weight: 400;
      font-size: 40px;
      line-height: 78%;
      letter-spacing: -0.03em;
    }
    .currency {
      font-weight: 400;
      font-size: 40px;
      line-height: 78%;
      letter-spacing: -0.03em;
    }
  }

  // .filter-apartments__range

  &__range {
  }

  // .filter-apartments__left

  &__left {
    flex: 1 1 592px;
    display: flex;
    flex-direction: column;
    align-items: start;
    @media (max-width: 992px) {
      flex: 1 1 auto;
      width: 100%;
      gap: 15px;
    }
    .btn {
      width: 162px;
    }
  }

  // .filter-apartments__selects

  &__selects {
    display: flex;
    gap: 11px;
    width: 100%;
    margin: 0px 0px 13px 0px;
    @media (max-width: 992px) {
      margin: 0px 0px 0px 0px;
    }
    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  // .filter-apartments__select

  &__select {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (max-width: 992px) {
      gap: 12px;
    }
    &.select1 {
      flex: 0 1 325px;
      @media (max-width: 992px) {
        flex: 1 1 auto;
      }
      @media (max-width: 650px) {
        flex: 1 1 100%;
      }
    }
    &.select2 {
      flex: 0 1 115px;
      @media (max-width: 650px) {
        flex: 1 1 45%;
        .select__title {
          height: 52px;
        }
      }
    }
    &.select3 {
      flex: 0 1 130px;
      @media (max-width: 650px) {
        flex: 1 1 45%;
        .select__title {
          height: 52px;
        }
      }
    }
  }

  // .filter-apartments__right

  &__right {
    flex: 0 1 478px;
    display: flex;
    flex-direction: column;
    align-items: start;
    @media (max-width: 992px) {
      flex: 1 1 auto;
      width: 100%;
      gap: 15px;
    }
  }

  // .filter-apartments__buttons

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex: 1 1 auto;
    margin: 0px 0px 11px 0px;
    align-items: start;
  }

  // .filter-apartments__button

  &__button {
    flex: 0 0 auto;
    border-radius: 14px;
    padding: 8px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 78%;
    letter-spacing: -0.03em;
    background-color: rgba(217, 217, 217, 0.23);
    transition: background-color 0.3s;
    &:hover {
      background-color: var(--theme-color-accent);
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  // .cards__card

  &__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff;
    gap: 20px;
    min-height: 246px;
    border-radius: 6px;
    padding: 20px;
    @media (max-width: 768px) {
      min-height: 100%;
      flex-direction: row;
      gap: 10px;
    }
    p {
      font-weight: 600;
      font-size: 28px;
      line-height: 106%;
      letter-spacing: -0.03em;
      flex: 1 1 auto;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
}
