.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    // .header__content

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
    }

    // .header__body

    &__body {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 100;
        border-radius: 33px;
        padding: 6px 6px 6px 16px;
        overflow: hidden;
        gap: 50px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(13.600000381469727px);
            background: rgba(0, 0, 0, 0.4);
        }
        .menu-open & {
            &::before {
                content: "";
                opacity: 0;
            }
        }
    }

    // .header__logo

    &__logo {
        position: relative;
        z-index: 10;
        display: flex;
        img {
            width: 98px;
            height: auto;
        }
    }

    // .header__menu

    &__menu {
        position: fixed;
        top: 96px;
        left: 0;
        width: 100%;
        height: calc(100vh - 96px);
        z-index: 9;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        .menu-open & {
            opacity: 1;
            pointer-events: auto;
        }
    }

    // .header__icon

    &__icon {
        position: relative;
        z-index: 10;
        flex: 0 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
    }

    // .header__item

    &__item {
        position: relative;
        z-index: 10;
        max-width: 228px;
        margin: 0 auto;
        padding: 0px 0px 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        @media (max-width: 768px) {
            gap: 30px;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 14px;
            li {
                display: flex;
                a {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    text-align: center;
                    font-family: var(--second-family);
                    font-weight: 500;
                    font-size: 19px;
                    text-align: center;
                    color: #fff;
                    transition: opacity 0.3s;
                    &:hover {
                        opacity: 0.7;
                    }
                    &.active {
                        pointer-events: none;
                        text-decoration: underline;
                        text-decoration-skip-ink: none;
                    }
                }
            }
        }
    }

    // .header__contacts

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 0px 9px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 12px 16px 17px 16px;
        .btn {
            padding: 5px 20px;
            min-height: 30px;
        }
    }

    // .header__phone

    &__phone {
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
}
.icon-menu {
    position: relative;
    width: 19px;
    height: 16px;
    cursor: pointer;
    z-index: 5;
    transition: all 0.3s ease 0s;
    span,
    &::before,
    &::after {
        content: "";
        transition: background-color 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--theme-color-accent);
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    span {
        top: calc(50% - 1.5px);
    }
    .menu-open & {
        &::before {
            top: calc(50% - 1.5px);
            transform: rotate(-45deg);
        }
        span {
            width: 0;
        }
        &::after {
            content: "";
            bottom: calc(50% - 1.5px);
            transform: rotate(45deg);
        }
    }
}
