.main-wrapper-outer {
  width: 100%;
  min-height: 100%;
  max-width: var(--main-outer-width);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  &.contacts {
    .footer {
      min-height: 100vh;
    }
    .footer__content {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    .top-footer {
      flex: 1 1 auto;
    }
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width);
  padding: 0px 15px;
}

.container2 {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  padding: 0px 25px;
  @media (max-width: 1180px) {
    padding: 0px 15px;
  }
}
